.m-20 {
  margin: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mv-20 {
  margin: 20px 0;
}

.mh-20 {
  margin: 0 20px;
}

.mh-10 {
  margin: 0 10px;
}
