body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, legend, input, button, textarea, blockquote, th, td {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Roboto",sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
