//colors
$color-green: #11ABB0;
$color-dark-grey: #444;
$color-grey: #878a8c;
$color-middle-grey: #ccc;
$color-light-grey: #f1f3f4;
$color-light-black: #191919;
$color-orange: #F06000;

//sizes
$mobile-size: 600px;
$tablet-size: 800px;
