<section [@fadeAnimation]
         class="hero-image" id="home">
  <div class="dark-overlay"></div>
  <menu-component></menu-component>
  <div class="center block-center">
    <h1 class="mb-20 fs-50">Hello, I'm Andrei Velichko</h1>
    <div class="fs-20">
      <div>Full Stack .net developer</div>
      <div>Creating modern and responsive Web Applications</div>
    </div>
    <div class="horizontal-separator">
    </div>
    <div class="social fs-25">
      <a>
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
      <a>
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a>
        <i class="fa fa-google-plus" aria-hidden="true"></i>
      </a>
      <a>
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </a>
      <a>
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
      <a>
        <i class="fa fa-skype" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</section>
<div id="content"></div>
