<section [@fadeAnimation]
         class="hero-image" id="home">
  <div class="dark-overlay"></div>
  <menu-component></menu-component>
  <div class="center block-center">
    <h1 class="mb-20 fs-50 fs-m-30">Hello, I'm Andrei Velichko</h1>
    <div class="fs-20">
      <div>Full Stack .NET developer</div>
      <div>Creating modern and responsive Web Applications</div>
    </div>
    <div class="horizontal-separator">
    </div>
    <div class="social fs-25">
        <a href="https://www.facebook.com/andrew.velichko.75">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/AndreiVelichko1">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>

        <a href="https://www.linkedin.com/in/andrei-velichko/">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/andr.velich/">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
    </div>
  </div>
</section>
<div id="content"></div>
