<section id="about"
         class="grey-light-bckgr"
         [@fadeAnimation]>
  <div class="row">
    <div class="column column-l-25 column-m-100">
      <img class="profile-pic" src="/dist/assets/img/avatar.jpg" alt="">
    </div>
    <div class="column column-l-75 column-m-100">
      <h2>About Me</h2>
      <p>
        Inspiring and professional ASP.NET programmer with more than 4 years of experience in designing, developing, analyzing and
        implementing web applications and dynamic websites using ASP.NET and Angular framework with C#, Typescript and Javascript languages.
        Expertise in writing, testing, and documenting application codes as well as upgrading and modifying existing applications.
        Possess solid analytical, problem-solving, organizational and communication skills.
      </p>
      <div class="row">
        <div class="column column-l-40 column-s-100 contact-details">
          <h2>Contact Details</h2>
          <p class="address">
            <span>Andrei Velichko</span><br>
            <span>
              Minsk<br>
              Belarus
            </span><br>
            <!--<span>+375 44 564360</span><br>-->
            <span>andr.velich@gmail.com</span>
          </p>
        </div>
        <div class="column column-l-60 column-s-100 download">
          <p>
            <a href="/dist/assets/pdf/cv.pdf" class="button">
              <i class="fa fa-download"></i>Download Resume
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
