<section id="resume"
         [@fadeAnimation]>
  <div class="row education">
    <div class="column column-l-25 column-m-100 header-col">
      <h1><span>Education</span></h1>
    </div>
    <div class="column column-l-75 column-m-100">
      <div class="item">
        <h3>Belarusian State University of Transport</h3>
        <p class="info">Electrical engineer <span>•</span> <em class="date">June 2013</em></p>
        <p>
          <!--TODO add more info-->
          Development of computer and microprocessor systems of railway automatics, telemechanics and communications
        </p>
      </div>
    </div>
  </div>

  <div class="row work">
    <div class="column column-l-25 column-m-100 header-col">
      <h1><span>Work</span></h1>
    </div>
    <div class="column column-l-75 column-m-100">
      <div class="item mb-20">
        <h3>Belarusian Railway</h3>
        <p class="info">Electrical engineer <span>•</span> <em class="date">August 2013 - November 2016</em></p>
        <p>
          Support and service of microprocessor systems of railway automatics, telemechanics and communications.
        </p>
      </div>
      <div class="item mb-20">
        <h3>StyleSoft LLC</h3>
        <p class="info">Full Stack .NET developer<span>•</span> <em class="date">November 2016 - June 2018</em></p>
        <div class="text">
          Develop software packages for retail and vending business management. The complex includes the management of all business aspects:
          <ul class="mh-10">
            <li>
              -conduct goods accounting, control, analysis, monitoring and statistics
            </li>
            <li>
              -conduct accounting and cash monitoring and accountability
            </li>
            <li>
              -forecast future sales
            </li>
          </ul>
          My responsibilities:
          <ul class="mh-10">
            <li>
              -writing stored procedures for the MSSQL database
            </li>
            <li>
              -implementing domain part for the http REST services based on ASP.NET MVC technology
            </li>
            <li>
              -unit, integration, end-to-end testing
            </li>
            <li>
              -creating and maintaining single page applicationы with angular js
            </li>
            <li>
              -work in a large team (20+ developers and QA engineers on one project)
            </li>
          </ul>
        </div>
      </div>
      <div class="item mb-20">
        <h3>Brimit</h3>
        <p class="info">Full Stack .NET developer, Sitecore developer<span>•</span> <em class="date">June 2018 - Present</em></p>
        <p>
          Develop and support web applications based on ASP.NET MVC and sitecore CMS.
          <br />
          Creating Templates, Layouts, Renderings, Rules Engine, Custom Pipelines, Sitecore API, Roles & Authorization,
          Workflows, Publishing, Deployment, Packages, Subsites, Multilingual websites.
          <br />
          Working on integration solution for sitecore site and salesforce.
          <br />
          SOLR search engine usage.
          <br />
          Deployment projects to the production servers.
        </p>
      </div>
    </div>
  </div>
  <div class="row skill">
    <div class="column column-l-25 column-m-100 header-col">
      <h1><span>Skills</span></h1>
    </div>
    <div class="column column-l-75 column-m-100">
      <div class="bars">
        <ul class="skills"> 
          <li><span class="bar-expand width-extension-1" style="width:91%"></span><em>C#</em></li>
          <li><span class="bar-expand width-extension-1" style="width:72%"></span><em>Javascript</em></li>
          <li><span class="bar-expand width-extension-1" style="width:65%"></span><em>Typescript</em></li>
          <li><span class="bar-expand width-extension-1" style="width:88%"></span><em>.NET</em></li>
          <li><span class="bar-expand width-extension-1" style="width:83%"></span><em>ASP.NET Core</em></li>
          <li><span class="bar-expand width-extension-1" style="width:87%"></span><em>ASP.NET MVC</em></li>
          <li><span class="bar-expand width-extension-1" style="width:75%"></span><em>MSSQL</em></li>
          <li><span class="bar-expand width-extension-1" style="width:72%"></span><em>Entity Framework</em></li>
          <li><span class="bar-expand width-extension-1" style="width:67%"></span><em>IIS</em></li>
          <li><span class="bar-expand width-extension-1" style="width:65%"></span><em>Razor</em></li>
          <li><span class="bar-expand width-extension-1" style="width:78%"></span><em>Angular JS</em></li>
          <li><span class="bar-expand width-extension-1" style="width:80%"></span><em>Angular 2+</em></li>
          <li><span class="bar-expand width-extension-1" style="width:54%"></span><em>CSS/SCSS</em></li>
          <li><span class="bar-expand width-extension-1" style="width:57%"></span><em>HTML5</em></li>
          <li><span class="bar-expand width-extension-1" style="width:65%"></span><em>jQuery</em></li>
          <li><span class="bar-expand width-extension-1" style="width:82%"></span><em>Sitecore CMS</em></li>
          <li><span class="bar-expand width-extension-1" style="width:88%"></span><em>GIT</em></li>
        </ul>
      </div>
    </div>
  </div>
</section>
