@import "variables";

#contact {
    color: #ccc;

    .form-wrapper {

        .row {
            padding-top: 0;
            padding-bottom: 0;
        }

        label {
            font: 15px/24px 'opensans-bold', sans-serif;
            margin: 12px 0;
            display: block;
        }

        input, textarea {
            background: $color-middle-grey;
            width: 100%;
        }

        textarea {
            height: 278px;
        }

        .button {
            background: $color-orange;
            color: white;
            font-weight: 600;
        }

        .button:hover {
            background: $color-green;
        }

        .message-success {
            text-align: center;
            padding-bottom: 50px;
            font-size: 25px;

            i {
                margin: 0 10px;
            }
        }
    }
}
