<footer class="black-light-bckgr center"
         [@fadeAnimation]>
  <div class="social fs-25">
    <a>
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    <a>
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    <a>
      <i class="fa fa-google-plus" aria-hidden="true"></i>
    </a>
    <a>
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>
    <a>
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
    <a>
      <i class="fa fa-skype" aria-hidden="true"></i>
    </a>
  </div>
  <div class="copyright">
    <span>© Copyright 2020</span>
    <span>Design by <a title="Andrei Velichko" href="mailto:andr.velich@gmail.com">Andrei Velichko</a></span>
  </div>
</footer>
