<section id="portfolio" class="grey-light-bckgr"
         [@fadeAnimation]>
    <div class="center">
        <h1>Check Out Some of My Works.</h1>
    </div>
    <div id="portfolio-wrapper" class="row">
        <div *ngFor="let portfolioWork of portfolioWorkCollection" 
             class="column column-l-25 column-m-50 column-s-100 portfolio-item">
            <div class="item-wrap">
                <a (click)="openPortfolioPopup(portfolioWork)"
                   title="">
                    <img *ngIf="portfolioWork.mediaWorkCollection[0] && (portfolioWork.mediaWorkCollection[0].imgSrc || portfolioWork.mediaWorkCollection[0].videoId)" alt=""
                         [src]="portfolioWork.mediaWorkCollection[0].imgSrc ? portfolioWork.mediaWorkCollection[0].imgSrc : 'http://i3.ytimg.com/vi/' + portfolioWork.mediaWorkCollection[0].videoId + '/hqdefault.jpg'">
                    <div class="dark-overlay">
                    </div>
                    <div class="portfolio-item-meta fade-in">
                        <h5 [innerHtml]="portfolioWork.title"></h5>
                        <p [innerHtml]="portfolioWork.description"></p>
                    </div>
                </a>

            </div>
        </div>
        
    </div>
</section>
