<section id="portfolio" class="grey-light-bckgr"
         [@fadeAnimation]>
  <div class="center">
    <h1>Check Out Some of My Works.</h1>
  </div>
  <div id="portfolio-wrapper" class="row">
    <div class="column column-l-25 column-m-50 column-s-100 portfolio-item">
      <div class="item-wrap">

        <a (click)="openPortfolioPopup(portfolioWork)"
           title="">
          <img alt=""
               src="/dist/assets/img/portfolio/coffee.jpg">
          <div class="dark-overlay">
          </div>
          <div class="portfolio-item-meta fade-in">
            <h5>Coffee</h5>
            <p>Illustrration</p>
          </div>
        </a>

      </div>
    </div>
    <div class="column column-l-25 column-m-50 column-s-100 portfolio-item">
      <div class="item-wrap">

        <a (click)="openPortfolioPopup(portfolioWork)" title="">
          <img alt="" src="/dist/assets/img/portfolio/console.jpg">
          <div class="dark-overlay">
          </div>
          <div class="portfolio-item-meta fade-in" >
            <h5>Console</h5>
            <p>Web Development</p>
          </div>
        </a>

      </div>
    </div>
    <div class="column column-l-25 column-m-50 column-s-100 portfolio-item">
      <div class="item-wrap">
        <a (click)="openPortfolioPopup(portfolioWork)" title="">
          <img alt="" src="/dist/assets/img/portfolio/judah.jpg">
          <div class="dark-overlay">
          </div>
          <div class="portfolio-item-meta fade-in">
            <h5>Judah</h5>
            <p>Webdesign</p>
          </div>
        </a>
      </div>
    </div>
    <div class="column column-l-25 column-m-50 column-s-100 portfolio-item">
      <div class="item-wrap">
        <a (click)="openPortfolioPopup(portfolioWork)" title="">
          <img alt="" src="/dist/assets/img/portfolio/into-the-light.jpg">
          <div class="dark-overlay">
          </div>
          <div class="portfolio-item-meta fade-in">
            <h5>Into The Light</h5>
            <p>Photography</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
